.card{
    width: 90%;
    padding: 10px;
    margin:5% auto;
    
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.card-content{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 10px;
}
.cards{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: 5% auto;
    }
}


